.footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 20px;
  }
  
  .footer p {
    margin: 5px 0;
  }


  .no-link-style {
    color: inherit; /* Use the same color as surrounding text */
    text-decoration: none; /* Remove underline */
  }

  .href{
    color: inherit; /* Optional: in case there's an auto-linking for tel: */
    text-decoration: none;
  }